<a href="/">
    Webcontainer
</a>

<nav role="navigation">
    <ul class="nav nav-pills nav-justified">
        <li>
            <a href="/" class="nav-item not-underline"><em>01.</em> Home</a>
        </li>
        <li>
            <a href="/blog" class="nav-item not-underline"><em>02.</em> Blog</a>
        </li>
        <li>
            <a href="/portfolio" class="nav-item not-underline"><em>03.</em> Portfolio</a>
        </li>
        <li>
            <a href="/about" class="nav-item not-underline"><em>04.</em> About me</a>
        </li>
        <li>
            <a href="/contact" class="nav-item not-underline"><em>05.</em> Contact</a>
        </li>
    </ul>
</nav>