<a href="/">
    Webcontainer
</a>

<nav role="navigation">
    <ul class="nav nav-pills nav-justified">
        <li>
            <a href="/">Home</a>
        </li>
        <li>
            <a href="/blog">HTML</a>
        </li>
        <li>
            <a href="/portfolio">Portfolio</a>
        </li>
        <li>
            <a href="/about">About me</a>
        </li>
        <li>
            <a href="/contact">Contact</a>
        </li>
    </ul>
</nav>