<meta charset="utf-8">
<title><%= title %></title>
<link rel='stylesheet' href='../css/styles.css' />
<script type="text/javascript" src="js/angular.min.js"></script>
<script type="text/javascript" src="js/angular-resource.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/angular-strap/2.1.2/angular-strap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/angular-strap/2.1.2/angular-strap.tpl.min.js"></script>
<script type="text/javascript" src="js/core.js"></script>
<base href="/">