<a href="/">
    Webcontainer
</a>

<nav role="navigation">
    <ul class="nav nav-pills nav-justified">
        <li>
            <a href="/">01. Home</a>
        </li>
        <li>
            <a href="/blog">02. Blog</a>
        </li>
        <li>
            <a href="/portfolio">03. Portfolio</a>
        </li>
        <li>
            <a href="/about">04. About me</a>
        </li>
        <li>
            <a href="/contact">05. Contact</a>
        </li>
    </ul>
</nav>