<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
  <% include head %>
</head>
<body>

<header>
  <% include header %>
</header>
  {{message}}
  <ng-view></ng-view>
<footer>
  <% include footer %>
</footer>
<!--
  https://scotch.io/tutorials/use-ejs-to-template-your-node-application
  http://naholyr.fr/2011/08/ecrire-service-rest-nodejs-express-partie-1
  -->
</body>
</html>
